.App {
  display: flex;
  justify-content: center;
}

.ExplanationText {
  display: flex;
  margin: 1vw;
  flex-direction: column;
  text-align: left;
  font-size: 87%;
}

.ExplanationSectionTitle {
  font-weight: bold;
  font-size: 115%;
  margin: 0.15vw 0vw 0.15vw 0vw;
}

.ExplanationSectionText{
  margin: 0.15vw 0vw 0.15vw 0vw;
  font-size: 95%;
}

.container {
  position: relative;
  color:#2196F3;
}

.picture {
  transform: scale(0.60);
  position: absolute;
  bottom: -400px;
  right: -400px;
  display: none;
}

.container:hover .picture {
  display: inline-block;
}

.image {
  width: 50px;
  height: auto;
  border: 1px solid #ccc;
}

.sectionTitle {
  margin: 1.8vh 0vw 0.6vh 0vw;
  font-weight: bold;
}

.sectionText{
  margin: 0.15vw 0vw 0.15vw 0vw;
  font-size: small;
}

.sliderText {
  margin: 0vw 0vw 0.15vw 0vw;
  font-size: small;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  margin: 1vw;
}

.button {
  width: 8vw; /* Adjust the width as needed */
  height: 5vh; /* Adjust the height as needed */
  margin: 0.3vw 0.4vw 0.3vw 0.4vw; /* Adjust the margin as needed */
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #2980b9;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin: 0.8vw 0.4vw 0vw 0.4vw;
  border-radius: 1vw;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:focus {
  /* Add an outline on focus for accessibility */
  outline: none;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  margin: 1vw;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 8vw;
  margin: 1vw;
}

.buttons-right {
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: 0.3vw 0vw 0vw 0vw;
}

.switch input {
  opacity: 10;
  width: 10;
  height: 10;
}

.toggleswitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 38px;
}

.toggleswitch:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggleswitch {
  background-color: #2196F3;
}

input:checked + .toggleswitch:before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxes {
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkboxes {
  background-color: #707070;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkboxes {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxes:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkboxes:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkboxes:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}